name: "z.slack-notify"

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  notify:
    name: "slack notify"
    runs-on: ubuntu-latest
    steps:
      - name: Slack notify
        uses: slackapi/slack-github-action@v2.1.1
        with:
          token: ${{ secrets.SLACK_BOT_TOKEN }}
          method: chat.postMessage
          payload: |
            {
              "channel": "C0AH12Y8GKZ",
              "attachments": [
                {
                  "blocks": [
                    {
                      "type": "header",
                      "text": {
                        "type": "plain_text",
                        "text": "Message Header",
                        "emoji": true
                      }
                    },
                    {
                      "type": "section",
                      "text": {
                        "type": "mrkdwn",
                        "text": "Helloworld ! :ghost:"
                      }
                    }
                  ]
                }
              ]
            }

